@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap");

@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@600&family=Roboto:wght@400;700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
:root {
  font-size: 62.5%;
  font-family: "Roboto", sans-serif;

  --dark-dark-400: #000a0f;
  --light-light-300: #e1e1e6;
  --dark-dark-600: #00111a;
}

body #root {
  font-size: 1.6rem;
  background: var(--dark-dark-400);
  color: var(--light-light-300);
  max-width: 100vw;
}
