section {
  position: relative;
  width: 100%;
}

.left-gradient {
  position: absolute;
  top: clamp(4rem, 4vw, 6.8rem);
  left: 0;
  z-index: 1;
  width: 5.4rem;
  height: 92%;
  transform: scaleX(-1);
  background: linear-gradient(90deg, rgba(0, 10, 15, 0.27) 0%, #000a0f 100%);
}

.right-gradient {
  position: absolute;
  top: clamp(4rem, 4vw, 6.8rem);
  right: 0;
  z-index: 1;
  width: 5.4rem;
  height: 92%;
  transform: scaleX(-1);
  background: linear-gradient(90deg, rgba(0, 10, 15, 0.27) 0%, #000a0f 100%);
}
